<script type="text/html" id="airbase-create-admin-template">
     <nav  data-bind="template: { name: 'nav-admin-template'}"></nav>
	 <section id="contenu">
		 <h1>Creation d'une  Plateformes</h1>
		 
		 <form role="form">
		 	<div class="form-group">
		 		<label for="name">Nom</label>
				<input data-bind="value: name" id="name" type="text" name="name" class="form-control" placeholder="Entrer nom"/>
			</div> 
			<div class="form-group">
				<label for="address">Adresse</label>
				<input data-bind="value: address" id="address" type="text" name="address" class="form-control" placeholder="Entrer adresse"/> 
			</div>
			<div id="manager_group" class="form-group">
				<label for="manager">Manager</label>
				<input data-bind="value: manager, autocompleteManager: managerJSON" id="manager" type="text" name="manager" class="form-control typeahead" placeholder="Entrer Manager"/> 
				<span class="tt-dropdown-menu"  style="position: absolute; top: 100%; left: 0px; z-index: 100; display: none; right: auto;">
				<div class="tt-dataset-manager"></div>
				</span>
				
				
				 <!-- ko if: selectedManagerCreate -->
                <div class="selected-manager col-md-8" data-bind="with: selectedManagerCreate">
				   <div class="line">
				   	<p class="label">Nom :</p><p class="value" data-bind="text: fullName"></p>
				   </div>
				   <div class="line">
				   	<p class="label">Adresse :</p><p class="value" data-bind="text: address"></p>
				   </div>
                </div>
                <!-- /ko -->
				
			</div>
			
		 </form>
		 
		 <section class="actions">
		 	<button data-bind="click: clicCreateAirbase" class="btn btn-primary" >Créer</button>
		 	<button data-bind="click: clicCancelAirbase" class="btn">Annuler</button>
		 </section>
		
		 <section class="clear"></section>
	 </section>
</script>