#payment-atterissage input{
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}

#payment-atterissage label{
    display: inline-block;
    vertical-align: top;
    margin-top: 8px;
    width: 120px;

}

#payment-atterissage .airbase-city{
    width: 500px;
    margin-left: 20px;
    padding-top: 15px;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
    margin-right: 20px;

}

#payment-atterissage .airbase-city input{
    width: 300px;
    height: 40px;
    font-size: 15px;
    font-weight: bolder;
}

#payment-atterissage .tt-dropdown-menu{
    width: 300px;
    margin-top: 12px;
    padding: 8px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

#payment-atterissage .selected-airbase{
    width: 415px;
    margin-left: 15px;
    margin-top: 20px;
    border: 1px solid rgb(179, 173, 173);
    padding: 5px;
    box-shadow: 2px 2px 2px rgb(182, 181, 181);
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

#payment-atterissage .land-date{
    margin-left: 20px;

}

#payment-atterissage .land-date div{
    margin-top: 20px;
}

#payment-atterissage button.next-step{
    margin-top: 30px;
}

#payment-atterissage .content{
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

#payment-atterissage .plane div{
    margin-top: 20px;

}

table{
    table-layout: fixed;
}

#payment-atterissage .services th:nth-child(1), th:nth-child(2), th:nth-child(3) {
    width: 30%;
}

#payment-atterissage .my-breadcrumb {
    list-style: none;
    overflow: hidden;
    font: 18px Helvetica, Arial, Sans-Serif;
}
#payment-atterissage .my-breadcrumb li {
    float: left;
}
#payment-atterissage .my-breadcrumb li a {
    color: white;
    text-decoration: none;
    padding: 10px 0 10px 65px;
    background: brown;                   /* fallback color */
    background: hsla(34,85%,35%,1);
    position: relative;
    display: block;
    float: left;
    pointer-events: none;
    cursor: default;
}

#payment-atterissage .my-breadcrumb li a:after {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid hsla(34,85%,35%,1);
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 100%;
    z-index: 2;
}

#payment-atterissage .my-breadcrumb li a:before {
    content: " ";
    display: block;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    margin-left: 1px;
    left: 100%;
    z-index: 1;
}

#payment-atterissage .my-breadcrumb li:first-child a {
    padding-left: 10px;
}
#payment-atterissage .my-breadcrumb li:nth-child(2) a       { background:        hsla(34,85%,45%,1); }
#payment-atterissage .my-breadcrumb li:nth-child(2) a:after { border-left-color: hsla(34,85%,45%,1); }
#payment-atterissage .my-breadcrumb li:nth-child(3) a       { background:        hsla(34,85%,55%,1); }
#payment-atterissage .my-breadcrumb li:nth-child(3) a:after { border-left-color: hsla(34,85%,55%,1); }
#payment-atterissage .my-breadcrumb li:nth-child(4) a       { background:        hsla(34,85%,65%,1); }
#payment-atterissage .my-breadcrumb li:nth-child(4) a:after { border-left-color: hsla(34,85%,65%,1); }
#payment-atterissage .my-breadcrumb li:nth-child(5) a       { background:        hsla(34,85%,75%,1); }
#payment-atterissage .my-breadcrumb li:nth-child(5) a:after { border-left-color: hsla(34,85%,75%,1); }
#payment-atterissage .my-breadcrumb li:last-child   a       { background:        hsla(34,85%,75%,1); }

#payment-atterissage .my-breadcrumb i{
    margin-right: 7px;
}

#payment-atterissage .recap-atterissage, #payment-atterissage .recap-plane, #payment-atterissage .recap-services{
    width: 225px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
    height:250px;
}

#payment-atterissage .error{
    display: none;
    font-size: 17px;
    text-align: center;
    background-color: #ffada5;
    border: 1px solid #ff655d;
    width: 100%;
    padding: 10px;
    height: 50px;
    margin-top: 15px;
}

#payment-atterissage .error.visible{
    display: block;
}

