#create-account{
	display:block;	
}

#connect-account{
	display:block;
}

.account{
	margin-left: auto;
	margin-top: 50px; 
	margin-right: auto;	
}

#account h2{
	margin-top:0;
	padding:0;	
}

.table-login td{
	padding:5px;	
}

#create-account{
	
}

#create-account,#connect-account{
	background:#f7f7f7;
	background:-moz-linear-gradient(90deg, #ccc, #fff); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-box-shadow:0 0 15px #aaa;
	-webkit-box-shadow:0 0 15px #aaa;
	padding:30px;
	/*width:47%;*/	
}

.fa-check{
	color:#0F0;	
}

.fa-times{
	color:#900;	
}