<script type="text/html" id="service-view-owner-template">
	 <section id="contenu" data-bind="if: serviceAccordingType">
		 <h2 data-bind="text: displayCurrentServiceId"></h2>
			 <section id="editors">    
			 <section id="globalEditor">
			 	<h3>Configuration du service</h3>
				 <form role="form">
				 	Type de service
					<label><input type="radio" value="Forfait" data-bind="checked: radioSelectedServiceType" /> Forfait</label>
		            <label><input type="radio" value="Tonnage" data-bind="checked: radioSelectedServiceType" /> Tonnage</label><br/>
					<div class="form-group has-feedback" data-bind="css : serviceAccordingType().checkName">
						<label class="control-label" for="name">Nom</label>
						<input data-bind="value: serviceAccordingType().name" id="name" type="text" name="name" class="form-control" placeholder="Nom du service"/>
						<i class="form-control-feedback" data-bind="css : serviceAccordingType().checkNameIcon"></i>
					</div>
					<div class="form-group has-feedback" data-bind="css : serviceAccordingType().checkDesc">
						<label class="control-label" for="description">Description</label>
						<textarea data-bind="value: serviceAccordingType().desc" id="description" type="text" name="description" class="form-control" placeholder="Description du service"></textarea>
						<i class="form-control-feedback" data-bind="css : serviceAccordingType().checkDescIcon"></i>
					</div> 			
					<section id="price" data-bind="if: radioSelectedServiceType() === 'Forfait'"> 
					<div class="form-group has-feedback" data-bind="css : serviceAccordingType().checkPrice">
						<label class="control-label" for="price">Prix</label>
						<input data-bind="value: serviceAccordingType().price" id="price" type="text" name="price" class="form-control" placeholder="Prix du service"/>
						<i class="form-control-feedback" data-bind="css : serviceAccordingType().checkPriceIcon"></i>
					</div>
					</section><br/>
					<section class="actions">
						<button data-bind="click: clicUpdateService" class="btn btn-primary" >Valider</button>
						<button data-bind="click: clicCancelService" class="btn">Annuler</button>
					</section>
				 </form>
			</section>
			<section id="weightEditor" data-bind="if: radioSelectedServiceType() === 'Tonnage'">
				<h3>Configuration du tonnage</h3>
				<table class="table">
					<thead>
						<tr>
							<th>Tonnage Min</th>
							<th>Tonnage Max</th>
							<th>Prix</th>
							<th>Supplément</th>
							<th></th>
						</tr>
					</thead>
					<tbody data-bind="foreach : serviceAccordingType().weightRangeServices">
						<tr>
							<td>
								<div class="form-group has-feedback" data-bind="css : checkTonMin">
									<input type="text" class="form-control" data-bind="value: tonMin"/>
									<i class="form-control-feedback fix-error-bootstrap" data-bind="css : checkTonMinIcon"></i>
								</div>
							</td>
							<td>
								<div class="form-group has-feedback" data-bind="css : checkTonMax">
									<input type="text" class="form-control" data-bind="value: tonMax"/>
									<i class="form-control-feedback fix-error-bootstrap" data-bind="css : checkTonMaxIcon"></i>
								</div>
							</td>
							<td>
								<div class="form-group has-feedback" data-bind="css : checkPriceFixed">
									<input type="text" class="form-control" data-bind="value: priceFixed"/>
									<i class="form-control-feedback fix-error-bootstrap" data-bind="css : checkPriceFixedIcon"></i>
								</div>
							</td>
							<td>
								<div class="form-group has-feedback" data-bind="css : checkPricePerTon">
									<input type="text" class="form-control" data-bind="value: pricePerTon"/>
									<i class="form-control-feedback fix-error-bootstrap" data-bind="css : checkPricePerTonIcon"></i>
								</div>
							</td>
							<td>
								<button class="btn btn-danger" data-bind="click: $parent.deleteWeightRange"><i class="fa fa-trash-o"></i> Suppimer</button>
							<td>
						</tr>
					<tbody>
				 </table>
				 <button class="btn btn-primary" data-bind="click: addWeightRange">Ajouter un tonnage</button>
			</section>
		</section>
 		<section class="clear"></section>
	 </section>
</script>