<script type="text/html" id="nav-admin-template">
	<ul class="row" data-bind="css: homeActiveClass">
		<li class="col-xs-2 col-cm-2 col-md-2 col-lg-2" data-bind="css: homeActiveClass">
			<a href="#home">
				<i class="fa fa-home"></i>
				<p>Accueil</p>
			</a>
		</li>
        <li class="col-xs-2 col-cm-2 col-md-2 col-lg-2" data-bind="css: personnelActiveClass">
            <a href="#personnel">
				<i class="fa fa-user"></i>
				<p>Personnel</p>
			</a>
        </li>
		<li class="col-xs-2 col-cm-2 col-md-2 col-lg-2" data-bind="css: airbaseActiveClass">
			<a href="#airbase">
				<i class="fa fa-fighter-jet"></i>
				<p>Plateforme</p>
			</a>
		</li>
	</ul>
</script>