<script type="text/html" id="personnel-create-admin-template">
    <section id="contenu">
        <div id="add-manager">
            <h1>Ajouter un gestionnaire</h1>
            <div class="bg-success error-form row" data-bind="css: creationOKClass">
                <p class="col-md-5 col-md-offset-4">Gestionnaire correctement créé. <a href="#personnel">Retour</a></p>
            </div>
            <div class="bg-danger error-form row" data-bind="css: errorFormClass">
                <p class="col-md-5 col-md-offset-4">Merci de renseigner l'ensemble des champs obligatoires</p>
            </div>
            <form class="form-horizontal">
                <!-- ko with: newManager -->
                <div class="form-group">
                    <label class="col-md-2">Nom*: </label>

                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="Durand..." data-bind="value: lastName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Prénom*: </label>

                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="Paul..." data-bind="value: firstName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Adresse*: </label>

                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="6 Rue Lebrix 38000 Grenoble..."
                               data-bind="value: address"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Téléphone: </label>

                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="0689098233..." data-bind="value: phone"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Mail: </label>

                    <div class="col-md-4">
                        <input class="form-control" type="text" placeholder="paul.durand@gmail.com..."
                               data-bind="value: mail"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2">Mot de passe*: </label>

                    <div class="col-md-4">
                        <input class="form-control" type="text" data-bind="value: pass"/>
                    </div>
                </div>
                <!-- /ko -->
                <div class="form-group">
                    <div class="col-md-offset-4 col-md-1">
                        <a class="btn btn-danger" href="#personnel">Annuler</a>
                    </div>
                    <div class="col-md-1">
                        <button class="btn btn-primary" data-bind="click: clickAdd">Ajouter</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</script>