<script type="text/html" id="nav-pilot-template">
	<ul data-bind="css: homeActiveClass">
		<li data-bind="css: homeActiveClass">
			<i class="fa fa-home"></i>
			<a href="#home">Accueil</a>
		</li>
		<li data-bind="css: creditActiveClass">
			<i class="fa fa-credit-card"></i>
			<a href="#credit">Credit</a>
		</li>
		<li data-bind="css: paiementActiveClass">
			<i class="fa fa-money"></i>
			<a href="#paiement">Paiement</a>
		</li>
		<li data-bind="css: factureActiveClass">
			 <i class="fa fa-inbox"></i>
			<a href="#facture">Facture</a>
		   
		<li data-bind="css: plusActiveClass">
			<i class="fa fa-plus"></i>
			<a href="#plus">Plus</a>
		</li>
	</ul>
</script>