<script type="text/html" id="credit-pilot-template">
	 <section id="contenu">
        <h1>Créditer mon Compte</h1>

		<!-- ko with: pilotAccount -->
		<h2 >Mon crédit actuel: <span id="credit" data-bind="text :  credit"><span></h2>Euros
		<!-- /ko -->
		<i id="msg" style="display:none;"><li font="red">Merci de saisir un montant correct</li></i>
		<br />
		<br />	
		<br />	
		<br />
		<form id="form" role="form">
		 	<div class="form-group">
				<label for="name">Montant à créditer</label>
				<input data-bind="numeric: number, value: montantCredit" id="montantCredit" type="text" name="montantCredit" class="form-control" placeholder="Entrer montant"/>
				
				<div>
					<img src="images/paypal_logo.png" alt="paypal_logo"><input type="radio" name="payment" data-bind="checked: paypal, click:checkPaypal" checked> Paiement Paypal<br>
					<img src="images/creditCard_logo.png" alt="creditCard_logo"><input id="creditCard" type="radio" name="payment" data-bind="checked: creditCard, click:checkCreditCard"> Paiement par CB<br>
				</div>
				<div id="result">
				</div>
			</div>
		</form>
		
		<section class="actions">
		 	<button data-bind="click: crediterCompte" class="btn btn-primary" >Créditer</button>
		 </section>
	</section>
</script>