<!DOCTYPE HTML>
<html>
	<head>
		<title>Paiement Carte Bancaire</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="../../common/vendor/js/jquery-2.1.js"></script>
		<script src="../js/skel.min.js"></script>
		<script src="../js/init.js"></script>

		<script src="../js/jquery-ui-1.10.4.custom.min.js"></script>
		
		<link href="../css/smoothness/jquery-ui-1.10.4.custom.css" rel="stylesheet">
		
		
		
		<noscript>
			
			<link rel="stylesheet" href="../css/skel-noscript.css" />
			<link rel="stylesheet" href="../css/style.css" />
		</noscript>
		
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
		

	</head>
	<body>

		<!-- Header -->
			<header id="header">

				<!-- Logo -->
					<h1 id="logo"><img src="../images/creditCard_logo.png" alt="creditCard_logo"></h1>

			</header>
			
		<!-- Intro -->
			<section id="intro" class="main style1 dark fullscreen">
				<div class="content container small">
					<header>
						<h2>Paiment par carte de Crédit</h2>
					</header>
					<p>
						<form>
						<h3>Détails du Paiement</h3>
							<div class="row half">
									<label>Numéro de Carte</label><strong>1056-655-995-21Y</strong><br>
									<label>Payer à:</label><strong>PayDrome</strong><br>	
									<label>Paiement pour: </label><strong>Jacques Le roux</strong><br> 
									<label>Devise: </label><strong>€</strong><br> 
									<label>Montant: </label><br> <input type="text" id="montant" disabled="disabled" />
							</div>
							<div class="row">
								<div class="12u">
									<ul class="actions">
										<li><input type="button" id="cancelTransaction" class="cancelButton" value="Annuler" /></li>
										<li><input type="button" id="confirmTransaction" class="button" value="Confirmer" /></li>
									</ul>
								</div>
							</div>
						</form>
					</p>
				</div>
				<div style="display:none;" id="dialog_message" title="Paiement par carte bancaire effectué">
					  <p>
							<img src="../images/creditCard_logo.png" alt="creditCard_logo">Merci de votre confiance !
					  </p>
				</div>
			</section>

	</body>
	
</html>