<script type="text/html" id="nav-pilot-template">
	<ul class="row" data-bind="css: homeActiveClass">
		<li class="col-xs-2 col-cm-2 col-md-2 col-lg-2" data-bind="css: homeActiveClass">
			<a href="#home">
				<i class="fa fa-home"></i>
				<p>Accueil</p>
			</a>
		</li>
		<li class="col-xs-2 col-cm-2 col-md-2 col-lg-2" data-bind="css: creditActiveClass">
			<a href="#solde">
				<i class="fa fa-credit-card"></i>
				<p>Solde</p>
			</a>
		</li>
		<li class="col-xs-2 col-cm-2 col-md-2 col-lg-2" data-bind="css: paiementActiveClass">
			<a href="#payer">
				<i class="fa fa-money"></i>
				<p>Payer</p>
			</a>
		</li>
		<li class="col-xs-2 col-cm-2 col-md-2 col-lg-2" data-bind="css: factureActiveClass">
			<a href="#historique">
				<i class="fa fa-inbox"></i>
				<p>Historique</p>
			</a>
		</li>
		<li class="col-xs-2 col-cm-2 col-md-2 col-lg-2" data-bind="css: plusActiveClass">
			<a href="#plus">
				<i class="fa fa-plus"></i>
				<p>Plus</p>
			</a>
		</li>
	</ul>
</script>